
@{
}

<div class="abs">
    <h1 align="center">Abs Workout</h1>


    <h2><b>Fact: Proper Form Targets the Abs Effectively and Minimizes Stress on Joints</b></h2>
    <br />

    <p>
        Maintaining a neutral spine during abdominal exercises is crucial for maximizing activation 
        of target muscles such as the rectus abdominis and obliques. This optimal firing enhances 
        strength and definition gains. Additionally, a neutral spine provides a stable foundation, 
        promoting more effective core engagement and precise control over abdominal contractions. 
        Importantly, this technique helps protect the lower back by reducing the risk of undue strain, 
        minimizing the potential for injuries like disc herniation and muscle strain.
    </p>
</div>

<!--abs-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h2>Abs Exercises</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Bicycle Crunch -->
                        <tr>
                            <td>
                                <img src="/Abs/abs_bicycle_crunch.gif" class="img-fluid" alt="Bicycle Crunch">
                            </td>
                            <td>
                                <h3>Bicycle Crunch</h3>
                            </td>
                        </tr>

                        <!-- Dumbbell Training -->
                        <tr>
                            <td>
                                <img src="/Abs/abs_dumbbell_training.gif" class="img-fluid" alt="Dumbbell Training">
                            </td>
                            <td>
                                <h3>Dumbbell Training</h3>
                            </td>
                        </tr>

                        <!-- Knee Raises -->
                        <tr>
                            <td>
                                <img src="/Abs/abs_knee_raises.gif" class="img-fluid" alt="Knee Raises">
                            </td>
                            <td>
                                <h3>Knee Raises</h3>
                            </td>
                        </tr>

                        <!-- Weighted Sit Ups -->
                        <tr>
                            <td>
                                <img src="/Abs/abs_sit_ups.gif" class="img-fluid" alt="Weighted Sit Ups">
                            </td>
                            <td>
                                <h3>Weighted Sit Ups</h3>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
