@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="back">
<h1 align="center">Back Workout</h1>


<h2><b>Fact: Proper Form Targets the Back Effectively and Minimizes Stress on Joints</b></h2>
<br />

<p>
    Engaging your core during back exercises is crucial for various reasons. Firstly, it prevents 
    injuries by relieving pressure on the spine and maintaining proper form, lowering the risk of 
    muscle strain and disc herniation. Additionally, a strong core serves as a foundation for movements, 
    enhancing power and performance—enabling you to lift heavier weights in exercises like deadlifts and rows. 
    Lastly, it contributes to improved posture by pulling your shoulders back and aligning your spine, not only 
    during workouts but also in your daily activities.
</p>
</div>
<!--Back-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h2>Back Exercises</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Cable Row -->
                        <tr>
                            <td>
                                <img src="/back/back_cable_row.gif" class="img-fluid" alt="Cable Row">
                            </td>
                            <td>
                                <h3>Cable Row</h3>
                            </td>
                        </tr>

                        <!-- Barbell Row -->
                        <tr>
                            <td>
                                <img src="/back/barbell_row.gif" class="img-fluid" alt="Barbell Row">
                            </td>
                            <td>
                                <h3>Barbell Row</h3>
                            </td>
                        </tr>

                        <!-- Barbell PullOver-->
                        <tr>
                            <td>
                                <img src="/back/barebell_pullover.gif" class="img-fluid" alt="Barbell Pull-Over">
                            </td>
                            <td>
                                <h3>Barbell Pull-Over</h3>
                            </td>
                        </tr>

                        <!-- Cable Rear Pulldown -->
                        <tr>
                            <td>
                                <img src="/back/cable_rear_pulldown.gif" class="img-fluid" alt="Cable Rear Pulldown">
                            </td>
                            <td>
                                <h3>Cable Rear Pulldown</h3>
                            </td>
                        </tr>

                        <!-- Reverse Grip Pull-Up -->
                        <tr>
                            <td>
                                <img src="/back/reverse_grip_pull_up.gif" class="img-fluid" alt="Reverse Grip Pull-Up">
                            </td>
                            <td>
                                <h3>Reverse Grip Pull-Up</h3>
                            </td>
                        </tr>

                        <!-- Shrugs -->
                        <tr>
                            <td>
                                <img src="/back/shrugs.gif" class="img-fluid" alt="Shrugs">
                            </td>
                            <td>
                                <h3>Shrugs</h3>
                            </td>
                        </tr>

                        <!-- T-Bar Rudern -->
                        <tr>
                            <td>
                                <img src="/back/t_bar_Rudern.gif" class="img-fluid" alt="T-Bar Rudern">
                            </td>
                            <td>
                                <h3>T-Bar Rudern</h3>
                            </td>
                        </tr>

                        <!-- Lat Pulldown -->
                        <tr>
                            <td>
                                <img src="/back/back_lat_pulldown.gif" class="img-fluid" alt="Lat Pulldown">
                            </td>
                            <td>
                                <h3>Lat Pulldown</h3>
                            </td>
                        </tr>

                        <!-- Bent Over Two Arm Dumbbell Row -->
                        <tr>
                            <td>
                                <img src="/back/back_bent_over_two_arm_dumbbell_row.gif" class="img-fluid" alt="Bent Over Two Arm Dumbbell Row">
                            </td>
                            <td>
                                <h3>Bent Over Two Arm Dumbbell Row</h3>
                            </td>
                        </tr>

                        <!-- Dumbbell Pullover -->
                        <tr>
                            <td>
                                <img src="/back/back_dumbbell_pullover.gif" class="img-fluid" alt="Dumbbell Pullover">
                            </td>
                            <td>
                                <h3>Dumbbell Pullover</h3>
                            </td>
                        </tr>

                        <!-- Cable Pullover -->
                        <tr>
                            <td>
                                <img src="/back/cable_pullover_back.gif" class="img-fluid" alt="Cable Pullover">
                            </td>
                            <td>
                                <h3>Cable Pullover</h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
