@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bicep">
<h1 align="center">Bicep Workout</h1>


<h2><b>Fact: Proper Form Targets the Biceps Effectively and Minimizes Stress on Joints</b></h2>
<br/>

<p>When you perform bicep exercises with correct form, you ensure that the stress 
    is appropriately placed on the biceps muscle, leading to more targeted and effective 
    muscle engagement. Additionally, maintaining proper form helps distribute the load 
    evenly across the muscle and reduces unnecessary strain on the joints, particularly 
    the elbows and wrists.
</p>
</div>
<!--Biceps-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h2>Biceps Exercises</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Zootman Curl -->
                        <tr>
                            <td>
                                <img src="/biceps/4be46841032506b311d43b8d49c6a58a.gif" class="img-fluid" alt="Zootman Curl">
                            </td>
                            <td>
                                <h3>Zootman Curl</h3>
                            </td>
                        </tr>

                        <!-- Scott Curl -->
                        <tr>
                            <td>
                                <img src="/biceps/scott_curls.gif" class="img-fluid" alt="Scott Curl">
                            </td>
                            <td>
                                <h3>Scott Curl</h3>
                            </td>
                        </tr>

                        <!-- Concentration Curl -->
                        <tr>
                            <td>
                                <img src="/biceps/concentration_curls.gif" class="img-fluid" alt="Concentration Curl">
                            </td>
                            <td>
                                <h3>Concentration Curl</h3>
                            </td>
                        </tr>

                        <!-- Cable Pull With Both Arms -->
                        <tr>
                            <td>
                                <img src="/biceps/cable_pull_with_both_arms.gif" class="img-fluid" alt="Cable Pull With Both Arms">
                            </td>
                            <td>
                                <h3>Cable Pull With Both Arms</h3>
                            </td>
                        </tr>

                        

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
