@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class= "chest">
<h1 align="center">Chest Workout</h1>

<h2><b>Fact: Proper Form Targets the Chest Effectively and Minimizes Stress on Joints</b></h2>
<br />

<p>
    While it's commonly known that proper form prevents injuries, not everyone may be aware that 
    engaging your lats, the broad muscles on your back, during exercises like bench presses or 
    push-ups offers added benefits. Activating your lats stabilizes your shoulder blades, creating 
    a solid foundation for your chest muscles to work against, leading to improved muscle activation 
    and growth. Strong lats contribute to enhanced power and performance by providing additional 
    pulling power during pushing movements, enabling you to lift heavier weights and perform more reps. 
    Additionally, engaged lats help maintain good posture by pulling your shoulders back and aligning 
    your spine, positively impacting both your exercise routine and daily activities.
</p>
</div>

<!--Chest-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h2>Chest Exercises</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Bench Press -->
                        <tr>
                            <td>
                                <img src="/chest/chest_bench_press.gif" class="img-fluid" alt="Bench Press">
                            </td>
                            <td>
                                <h3>Bench Press</h3>
                            </td>
                        </tr>

                        <!-- Chest Dip -->
                        <tr>
                            <td>
                                <img src="/chest/chest_dip.gif" class="img-fluid" alt="Chest Dip">
                            </td>
                            <td>
                                <h3>Chest Dip</h3>
                            </td>
                        </tr>

                        <!-- Dumbbell Bench Press -->
                        <tr>
                            <td>
                                <img src="/chest/dubmbbell_bench_press.gif" class="img-fluid" alt="Dumbbell Bench Press">
                            </td>
                            <td>
                                <h3>Dumbbell Bench Press</h3>
                            </td>
                        </tr>

                        <!-- Dumbbell Fly -->
                        <tr>
                            <td>
                                <img src="/chest/dubmell_fly.gif" class="img-fluid" alt="Dumbbell Fly">
                            </td>
                            <td>
                                <h3>Dumbbell Fly</h3>
                            </td>
                        </tr>

                        <!-- Incline -->
                        <tr>
                            <td>
                                <img src="/chest/incline.gif" class="img-fluid" alt="Incline">
                            </td>
                            <td>
                                <h3>Incline</h3>
                            </td>
                        </tr>

                        <!-- Dumbbell Incline Press -->
                        <tr>
                            <td>
                                <img src="/chest/incline_dumbell_press.gif" class="img-fluid" alt="Dumbbell Incline Press">
                            </td>
                            <td>
                                <h3>Dumbbell Incline Press</h3>
                            </td>
                        </tr>

                        <!-- Cable Crossover -->
                        <tr>
                            <td>
                                <img src="/chest/cable_crossover.gif" class="img-fluid" alt="Cable Crossover">
                            </td>
                            <td>
                                <h3>Cable Crossover</h3>
                            </td>
                        </tr>

                        <!-- Butterfly Arm -->
                        <tr>
                            <td>
                                <img src="/chest/butterfly_arm.gif" class="img-fluid" alt="Butterfly Arm">
                            </td>
                            <td>
                                <h3>Butterfly Arm</h3>
                            </td>
                        </tr>

                        <!-- Wide Chest -->
                        <tr>
                            <td>
                                <img src="/chest/wide_chest.gif" class="img-fluid" alt="Wide Chest">
                            </td>
                            <td>
                                <h3>Wide Chest</h3>
                            </td>
                        </tr>

                        <!-- Broad Chest -->
                        <tr>
                            <td>
                                <img src="/chest/chest_broad_chest.gif" class="img-fluid" alt="Broad Chest">
                            </td>
                            <td>
                                <h3>Broad Chest</h3>
                            </td>
                        </tr>

                        <!-- Cable Fly -->
                        <tr>
                            <td>
                                <img src="/chest/chest_cable_fly.gif" class="img-fluid" alt="Cable Fly">
                            </td>
                            <td>
                                <h3>Cable Fly</h3>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

