@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="forearm">
<h1 align="center">Forearm Workout</h1>


<h2><b>Fact: Proper Form Targets the Forearms Effectively and Minimizes Stress on Joints</b></h2>
<br />

<p>
    Proper form is known to prevent injuries, but controlled wrist twists during exercises offer 
    additional benefits. When you slightly twist your wrists during the exercise, it activates 
    different forearm muscle fibers, promoting well-rounded development and strength. This 
    technique also enhances grip strength, especially with external rotation, benefiting both 
    forearm exercises and daily tasks like carrying groceries. Additionally, gentle wrist 
    rotations can improve joint mobility, reducing the risk of stiffness and discomfort.
</p>
</div>

<!--Forearms-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h2>Forearms Exercises</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Barebell Wrsit Curl -->
                        <tr>
                            <td>
                                <img src="/Forearms/barebell_wrist_curl.gif" class="img-fluid" alt="Barebell Wrsit Curl">
                            </td>
                            <td>
                                <h3>Barebell Wrsit Curl</h3>
                            </td>
                        </tr>

                        <!-- Finger Curl -->
                        <tr>
                            <td>
                                <img src="/Forearms/finger_curls.gif" class="img-fluid" alt="Finger Curls">
                            </td>
                            <td>
                                <h3>Finger Curls</h3>
                            </td>
                        </tr>

                        <!-- Wrist Roller -->
                        <tr>
                            <td>
                                <img src="/Forearms/wrist_roller.gif" class="img-fluid" alt="Wrist Roller">
                            </td>
                            <td>
                                <h3>Wrist Roller</h3>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
