@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="legs">
<h1 align="center">Leg Workout</h1>


<h2><b>Fact: Proper Form Targets the Leg Effectively and Minimizes Stress on Joints</b></h2>
<br />

<p>
    Focusing on maintaining a neutral spine during exercises offers advantages beyond injury prevention. 
    A neutral spine optimizes muscle activation, ensuring that muscles like the quads, hamstrings, and 
    glutes work efficiently, leading to improved strength and size gains. Additionally, it enhances 
    balance and stability, serving as a robust central core that enables better control during movements 
    like squats and lunges, even when handling heavier weights. Moreover, a neutral spine minimizes the 
    risk of placing unnecessary strain on your lower back and other vulnerable areas, promoting a safer 
    and more effective workout experience.
</p>
</div>
<!--Legs-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h2>Legs Exercises</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Barbell Squats -->
                        <tr>
                            <td>
                                <img src="/Legs/barbell_squats.gif" class="img-fluid" alt="Barbell Squats">
                            </td>
                            <td>
                                <h3>Barbell Squats</h3>
                            </td>
                        </tr>

                        <!-- Bulgarian Split Squats -->
                        <tr>
                            <td>
                                <img src="/Legs/bulgarian_split_squats.gif" class="img-fluid" alt="Bulgarian Split Squats">
                            </td>
                            <td>
                                <h3>Bulgarian Split Squats</h3>
                            </td>
                        </tr>

                        <!-- Glute Muscle -->
                        <tr>
                            <td>
                                <img src="/Legs/glute_muscle.gif" class="img-fluid" alt="Glute Muscle">
                            </td>
                            <td>
                                <h3>Glute Muscle</h3>
                            </td>
                        </tr>

                        <!-- Leg Extensions -->
                        <tr>
                            <td>
                                <img src="/Legs/leg_extensions.gif" class="img-fluid" alt="Leg Extensions">
                            </td>
                            <td>
                                <h3>Leg Extensions</h3>
                            </td>
                        </tr>

                        <!-- Romanian Deadlift -->
                        <tr>
                            <td>
                                <img src="/Legs/Romanian Deadlift.gif" class="img-fluid" alt="Romanian Deadlift">
                            </td>
                            <td>
                                <h3>Romanian Deadlift</h3>
                            </td>
                        </tr>

                        <!-- Leg Press -->
                        <tr>
                            <td>
                                <img src="/Legs/smit_machine_leg_press.gif" class="img-fluid" alt="Smit Machine Leg Press">
                            </td>
                            <td>
                                <h3>Smit Machine Leg Press</h3>
                            </td>
                        </tr>

                        <!-- Butt Lift Bridge -->
                        <tr>
                            <td>
                                <img src="/Legs/butt_lift_bridge.gif" class="img-fluid" alt="Butt Lift Bridge">
                            </td>
                            <td>
                                <h3>Butt Lift Bridge</h3>
                            </td>
                        </tr>

                        <!-- Glute Muscles -->
                        <tr>
                            <td>
                                <img src="/Legs/legs_glute_muscles.gif" class="img-fluid" alt="Glute Muscles">
                            </td>
                            <td>
                                <h3>Glute Muscles</h3>
                            </td>
                        </tr>

                        <!-- Sumo Sqaut -->
                        <tr>
                            <td>
                                <img src="/Legs/legs_sumo_squat.gif" class="img-fluid" alt="Sumo Squat">
                            </td>
                            <td>
                                <h3>Sumo Squat</h3>
                            </td>
                        </tr>

                        <!-- Hip Thrust -->
                        <tr>
                            <td>
                                <img src="/Legs/legs_hip_thrust.gif" class="img-fluid" alt="Hip Thrust">
                            </td>
                            <td>
                                <h3>Hip Thrust With Weight</h3>
                            </td>
                        </tr>

                        <!-- Weight Calves -->
                        <tr>
                            <td>
                                <img src="/Legs/calves.gif" class="img-fluid" alt="Weight Calves">
                            </td>
                            <td>
                                <h3>Weight Calves</h3>
                            </td>
                        </tr>

                        <!-- Inner Thigh -->
                        <tr>
                            <td>
                                <img src="/Legs/Inner_Thigh_Workout.gif" class="img-fluid" alt="Inner Thigh">
                            </td>
                            <td>
                                <h3>Inner Thigh</h3>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
