
@{
}
<div class="shoulder">
<h1 align="center">Shoulder Workout</h1>

<h2><b>Fact: Proper Form Targets the Shoulder Effectively and Minimizes Stress on Joints</b></h2>
<br />

<p>
    Ensuring proper form is essential for injury prevention, but maintaining a neutral spine, 
    preserving its natural curves, offers additional benefits. A neutral spine maximizes muscle 
    activation in areas like the shoulders, promoting better strength and size gains. It serves as 
    a stable base for movements, enabling you to lift heavier weights with improved control and precision. 
    Furthermore, sustaining a neutral spine contributes to better overall posture, impacting not only your 
    exercise routine but also positively influencing your daily life.
</p>
</div>

<!--Shoulder-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h2>Shoulder Exercises</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Bent Over Reverse Cable Fly -->
                        <tr>
                            <td>
                                <img src="/shoulder/bent_over_reverse_cable_fly.gif" class="img-fluid" alt="Bent Over Reverse Cable Fly">
                            </td>
                            <td>
                                <h3>Bent Over Reverse Cable Fly</h3>
                            </td>
                        </tr>

                        <!-- Chin Bar Pull Up -->
                        <tr>
                            <td>
                                <img src="/shoulder/chin_bar_pull_up.gif" class="img-fluid" alt="Chin Bar Pull Up">
                            </td>
                            <td>
                                <h3>Chin Bar Pull Up</h3>
                            </td>
                        </tr>

                        <!-- Dubbell Shoulder Press -->
                        <tr>
                            <td>
                                <img src="/shoulder/dumbbell_shoulder_press.gif" class="img-fluid" alt="Dumbbell Shoulder Press">
                            </td>
                            <td>
                                <h3>Dumbbell Shoulder Press</h3>
                            </td>
                        </tr>

                        <!-- Dumbbell Cuban Press -->
                        <tr>
                            <td>
                                <img src="/shoulder/dumbell_cuban_press.gif" class="img-fluid" alt="Dumbbell Cuban Press">
                            </td>
                            <td>
                                <h3>Dumbbell Cuban Press</h3>
                            </td>
                        </tr>

                        <!-- Lateral Raises -->
                        <tr>
                            <td>
                                <img src="/shoulder/lateral_raises.gif" class="img-fluid" alt="Lateral Raises">
                            </td>
                            <td>
                                <h3>Lateral Raises</h3>
                            </td>
                        </tr>

                        <!-- Rear Lateral Raises -->
                        <tr>
                            <td>
                                <img src="/shoulder/rear_dumbell_lying_one_arm_rear_lateral_raises.gif" class="img-fluid" alt="Rear Lateral Raises">
                            </td>
                            <td>
                                <h3>Rear Lateral Raises</h3>
                            </td>
                        </tr>

                        <!-- Reverse Cable Fly -->
                        <tr>
                            <td>
                                <img src="/shoulder/reverse_cable_fly.gif" class="img-fluid" alt="Reverse Cable Fly">
                            </td>
                            <td>
                                <h3>Reverse Cable Fly</h3>
                            </td>
                        </tr>

                        <!-- Front Plate -->
                        <tr>
                            <td>
                                <img src="/shoulder/shoulder_front_plate_raises.gif" class="img-fluid" alt="Front Plate Raises">
                            </td>
                            <td>
                                <h3>Front Plate Raises</h3>
                            </td>
                        </tr>

                        <!-- Front Raises -->
                        <tr>
                            <td>
                                <img src="/shoulder/shoulder_front_raises.gif" class="img-fluid" alt="Front Raises">
                            </td>
                            <td>
                                <h3>Front Raises</h3>
                            </td>
                        </tr>

                        <!-- Neck Press -->
                        <tr>
                            <td>
                                <img src="/shoulder/shoulder_neck_press.gif" class="img-fluid" alt="Neck Press">
                            </td>
                            <td>
                                <h3>Neck Press</h3>
                            </td>
                        </tr>

                        <!-- Smit Machine Shoulder Press -->
                        <tr>
                            <td>
                                <img src="/shoulder/shoulder_smit_machine_shoulder_press.gif" class="img-fluid" alt="Shoulder Press">
                            </td>
                            <td>
                                <h3>Smit Machine Shoulder Press</h3>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
