@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="tricep">
<h1 align="center">Tricep Workout</h1>


<h2><b>Fact: Proper Form Targets the Tricep Effectively and Minimizes Stress on Joints</b></h2>
<br />

<p>
    Maintaining proper elbow positioning, such as keeping them close during tricep exercises like 
    extensions or skull crushers, goes beyond just preventing injuries; it offers additional benefits.
    Firstly, it maximizes tricep activation by directing tension precisely onto the triceps, promoting 
    more effective muscle growth and strength development. Secondly, this technique enhances stability,
    providing a stronger foundation for your movements and enabling better control over heavier weights
    while reducing the risk of shoulder strain. Lastly, it improves focus by eliminating unnecessary 
    body movements, allowing you to concentrate specifically on engaging the triceps and achieving a 
    full range of motion in each repetition.
</p>
</div>
<!--Tricep-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h2>Triceps</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Cable Pull One Arm Overhead -->
                        <tr>
                            <td>
                                <img src="/triceps/cable_pull_one_arm_overhead.gif" class="img-fluid" alt="Cable Pull One Arm Overhead">
                            </td>
                            <td>
                                <h3>Cable Pull One Arm Overhead</h3>
                            </td>
                        </tr>

                        <!-- Cable Pull One Side Arm -->
                        <tr>
                            <td>
                                <img src="/triceps/cable_pull_on_the_side_one_arm.gif" class="img-fluid" alt="Cable Pull One Side Arm">
                            </td>
                            <td>
                                <h3>Cable Pull One Side Arm</h3>
                            </td>
                        </tr>

                        <!-- Diamond Push-Up -->
                        <tr>
                            <td>
                                <img src="/triceps/diamond_push_ups.gif" class="img-fluid" alt="Diamond Push-Up">
                            </td>
                            <td>
                                <h3>Diamond Push-Up</h3>
                            </td>
                        </tr>

                        <!-- Dumbbell Overhead Press -->
                        <tr>
                            <td>
                                <img src="/triceps/dumbbell_overhead_press.gif" class="img-fluid" alt="Dumbbell Overhead Press">
                            </td>
                            <td>
                                <h3>Dumbbell Overhead Press</h3>
                            </td>
                        </tr>

                        <!-- French Press -->
                        <tr>
                            <td>
                                <img src="/triceps/french_press.gif" class="img-fluid" alt="French Press">
                            </td>
                            <td>
                                <h3>French Press</h3>
                            </td>
                        </tr>

                        <!-- Kickbacks -->
                        <tr>
                            <td>
                                <img src="/triceps/kickbacks.gif" class="img-fluid" alt="Kickbacks">
                            </td>
                            <td>
                                <h3>Kickbacks</h3>
                            </td>
                        </tr>

                        <!-- Incline EZ Bar Extentsion -->
                        <tr>
                            <td>
                                <img src="/triceps/incline_ez_bar_tricep_extensions.gif" class="img-fluid" alt="Incline EZ Bar Extentsion">
                            </td>
                            <td>
                                <h3>Incline EZ Bar Extentsion</h3>
                            </td>
                        </tr>

                        <!-- Press Lying On The Cable Pull -->
                        <tr>
                            <td>
                                <img src="/triceps/press_lying_on_the_cable_pull.gif" class="img-fluid" alt="Press Lying On The Cable Pull">
                            </td>
                            <td>
                                <h3>Press Lying On The Cable Pull</h3>
                            </td>
                        </tr>

                        <!-- Cable Pull -->
                        <tr>
                            <td>
                                <img src="/triceps/trciep_cable_pull.gif" class="img-fluid" alt="Cable Pull">
                            </td>
                            <td>
                                <h3>Cable Pull</h3>
                            </td>
                        </tr>

                        <!-- Pull One Arm -->
                        <tr>
                            <td>
                                <img src="/triceps/pull_one_arm.gif" class="img-fluid" alt="Pull One Arm">
                            </td>
                            <td>
                                <h3>Pull One Arm</h3>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
