@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}
<div class="circle-image" align="center">
    <img src="img/GreenLife_Tracker_Logo.png" alt="Logo">
</div>

<div class="Introduction" align="center">

    <p>
        Welcome to GreenLife Tracker, your comprehensive companion on the journey toward a healthier
        lifestyle and a reduced environmental footprint. Our innovative platform empowers you to monitor
        and manage your personal carbon footprint with ease, covering key aspects such as lifestyle choices,
        transportation habits, and energy consumption.  Gain insights into your daily choices and discover
        opportunities for sustainable living.
    </p>

    <br />
    <p>
        Embark on a transformative wellness experience with our Diet Changes feature, providing tailored
        recommendations for optimal nutrition, especially when engaged in physical activities. Efficient and
        user-friendly, our system guides you towards dietary choices that align with both your fitness goals
        and the planet's well-being.
    </p>

    <br />
    <p>
        Achieve your fitness milestones with our Gym Exercises module, offering a diverse range of body exercises
        and cardio workouts. From strength training to heart-pumping cardio routines, GreenLife Tracker ensures
        that your fitness journey is both enjoyable and effective, fostering a holistic approach to well-being.
    </p>

    <br />
    <p>
        Exercise offers a range of benefits like strength, disease prevention, mood improvement, and better sleep. 
        Tips for a successful fitness routine include listening to your body, staying hydrated, eating well, 
        exercising with a buddy, being consistent, and getting 7 to 8 hours of sleep for muscle recovery 
        and overall health.
    </p>
</div>

<div class="Join" align="center">
    <p>
        <button class="button-78" role="button"><a href="/Authentication/UserLogin">Join Us!</a></button>
    </p>
</div>
