@{
 
}

<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <div class="numbertext">1 / 5</div>
        <img src="/diduknow/slideshow0.png" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 5</div>
        <img src="/diduknow/slideshow1.png" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 5</div>
        <img src="/diduknow/slideshow2.png" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 5</div>
        <img src="/diduknow/slideshow3.png" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">5 / 5</div>
        <img src="/diduknow/slideshow4.png" style="width:100%">
    </div>
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
</div>

<br/>
<div class="benefits">
    <h1 align="center">Benefits of Exercising</h1>
    <ul>
        <li>Increased muscle strength and endurance</li>
        <li>Reduced risk of chronic diseases such as diabetes, heart disease, and stroke</li>
        <li>Weight management</li>
        <li>Improved mood and reduced stress</li>
        <li>Better sleep</li>
        <li>Increased self-esteem</li>
        <li>Improved cognitive function</li>
    </ul>
</div>

<br/>
<div class="Tips">
    <h1 align="center">Tips for Exercising</h1>
    <ul>
        <li>Listen to your body and rest when needed.</li>
        <li>Stay hydrated by drinking plenty of water before, during, and after exercise.</li>
        <li>Eat a healthy diet to fuel your workouts and recovery.</li>
        <li>Find an exercise buddy or join a fitness class for motivation and support.</li>
        <li>Make exercise a regular part of your routine.</li>
        <li>Sleep for 7 or 8 hours for your body to heal muscle tissues so they can grow</li>
    </ul>
</div>